[defaults]
# Plus besoin de faire -i hosts.ini
inventory = ./hosts.ini

# Plus besoin de faire -u admin
remote_user = admin

# Plus besoin de faire --private-key
private_key_file = ./id_rsa

# Évite la question "Are you sure you want to connect?"
host_key_checking = False

# Indispensable pour WSL (évite les erreurs de droits Linux/Windows)
remote_tmp = /tmp/.ansible-${USER}/tmp